**/target/
.idea
*.iml
*.class
*Test.java
**/test/
**/application-*.yml
**/application-*.yaml
**/application-*.properties
chat-memory/
/vector-store-marketing.json
/vector-store-review.json
/vector-store-customer-service.json
