<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into sky_take_out.order_detail (setmeal_id, dish_id, name, image, number, amount, order_id)
        values
        <foreach collection="list" item="orderDetail" separator=",">
            (#{orderDetail.setmealId},#{orderDetail.dishId},#{orderDetail.name},#{orderDetail.image},#{orderDetail.number},#{orderDetail.amount},#{orderDetail.orderId})
        </foreach>
    </insert>
    <select id="getByOrderId" resultType="com.sky.entity.OrderDetail">
        select * from sky_take_out.order_detail where order_id=#{orderId}
    </select>

    <select id="getProductSalesByOrderId" resultType="com.sky.entity.OrderDetailReport">
        SELECT name, SUM(number) as total_number FROM sky_take_out.order_detail
        WHERE order_id IN
        <foreach collection="validOrderIdList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        GROUP BY name
        ORDER BY total_number DESC
        LIMIT 10
    </select>


</mapper>